<ion-header>
    <div class="contenedor">
        <div class="infoUsuario">
            <div class="nombre">
                <ion-avatar>
                    <ion-icon name="person-circle-outline"></ion-icon>
                </ion-avatar>
                <p [routerLink]="['/mi-perfil']">Hola {{username}}</p>
                <ion-icon name="chevron-forward-outline"></ion-icon> 
            </div>
            <div class="infoPuntos">
                <p>Tus Créditos: {{puntosUser}}</p>
            </div>
        </div>        
        <div class="infopozo">
            <p>Pozo estimado:</p>
            <p>${{valorPremio}}</p>
            <p>sortea el dia {{fechaPremio}}</p>
        </div>
    </div>
</ion-header>