
  <ion-header>
    <app-header #header [puntosUser]="puntosUser"></app-header>
  </ion-header>
<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" 
  (ionRefresh)="handleRefresh($event)"
  (ionRefresh)="header.getInfouser()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="content">

    

    <div class="partidosPronosticar">
      <h5>Realizar Pronosticos</h5>
      <div class="emptyList" *ngIf="partidosHabilitados.length === 0">
        <p>No Hay Pronosticos para Realizar</p>
      </div>
      <ion-card *ngFor="let e of partidosHabilitados">
        <div class="fecha">
          <p>{{e.fecha}} {{e.horario}}</p>
        </div>
        <div class="equipos">
          <div class="equipo">
            <div class="datosEquipo">
              <ion-avatar>
                <img [src]="e.equipo1.imgUrl"/>
              </ion-avatar>
              <p>{{e.equipo1.name}}</p>
            </div>
            <div class="buttons">
              <ion-button (click)="sumarEquipo1(e)">+</ion-button>
              <p>{{e.resultado.equipo1}}</p>
              <ion-button (click)="restarEquipo1(e)">-</ion-button>
            </div>
          </div>
          <div class="equipo">
            <div class="buttons">
              <ion-button (click)="sumarEquipo2(e)">+</ion-button>
              <p>{{e.resultado.equipo2}}</p>
              <ion-button (click)="restarEquipo2(e)">-</ion-button>
            </div>
            <div class="datosEquipo">
              <ion-avatar>
                <img [src]="e.equipo2.imgUrl"/>
              </ion-avatar>
              <p>{{e.equipo2.name}}</p>
            </div>
          </div>
        </div>
          <ion-button (click)="enviarPronostico(e)" fill="clear">Enviar Pronostico</ion-button>
      </ion-card>
    </div>

    <div class="partidosJugados">
      <h5>Ultimos Partidos Jugados</h5>
      <ion-card *ngFor="let e of lastPartidosJugados">
        <div class="fecha">
          <p>{{e.fecha}} {{e.horario}}</p>
        </div>
        <div class="contenedor">
          <div class="equipo">
            <ion-avatar>
              <img [src]="e.equipo1.imgUrl"/>
            </ion-avatar>
            <p>{{e.equipo1.name}}</p>
          </div>
          <div class="result">
            <p>Resultado</p>
            <p>{{e.resultado.equipo1}} - {{e.resultado.equipo2}}</p>
          </div>
          <div class="equipo">
            <ion-avatar>
              <img [src]="e.equipo2.imgUrl"/>
            </ion-avatar>
            <p>{{e.equipo2.name}}</p>
          </div>
        </div>
        <div class="estado">
          <p>estado del partido:  {{e.estado}}</p>
        </div>
       
      </ion-card>
    </div>
    
  </div>
</ion-content>

