<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="ultimoGanador">
      <ion-card>
        <h5>Ulimo Ganador</h5>
        <p>BoxMorris</p>
        <p>Con un pozo de : $10000</p>
      </ion-card>
      <ion-card>
        <h5>¿Como Participar?</h5>
        <p>Cada Crédito que sumes, vale por una canche en el sorteo, cuantos más créditos uses, más chances tendrás de ganarlo.</p>
        <ion-item>
          <ion-label position="floating">Agregar Créditos</ion-label>
          <ion-input placeholder="Ingresar Créditos" type="number" [(ngModel)]="creditos"></ion-input>
        </ion-item>
        <ion-button >Agregar</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>
