ion-header{
    width: 100%;
    height: 180px;
    background-color: rgb(20, 133, 246);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:unset;
}

ion-content{
    .billetera{
        width: 100%;
        display: flex;
        flex-direction: column;
        ion-card{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 20px;
            }
            p{
                margin:5px;
                font-size: 15px;
            }
            ion-item{
                width: 80%;
                margin:10px;
                
            }
            ion-button{
                width: 80%;
                margin:10px;
            }
        }
        .dataUser{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            ion-item{
                width: 80%;
                margin:10px;
                
            }
        }
    }
}